body{
  margin: 0;
  padding: 0;
  font-family:cursive;
  background-color: rgb(255,255,255);
  height:100vh;
  overflow:inherit;
  background: linear-gradient(rgba(225,225,225,0.5),rgba(227,168,155,0.7));
}

.row{
  width: 60%;
  position: absolute;
  left: 20%;
  top: 30%;
}


.column {
  float: left;
  width: 31%;
  padding: 50px;
  border: 1px solid silver;
  border-radius: 5px;
  margin: 1%;
  text-align: center;
  font-size: 25px;
  cursor: pointer;  
  background: rgba(0,0,0,0.2)
}

.column img{
  max-width: 90%;
}

.rating{
  max-width: 95%;
}
.checked {
  color: orange;
}

form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 5px 0 0 5px;
  float: left;
  width: 93%;
  background: #f1f1f1;
}

form button {
  float: left;
  width: 7%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 0 5px 5px 0;
  border-left: none;
  cursor: pointer;
}

  form {  
  margin-left: auto;
  margin-right: auto;
  display: block;  
  width: 50%;  
  padding-top: 5%;
  position: relative;
  border-bottom: 0px ;
}

}
.error{
  display: block;
  text-align:left;
  font-weight: bold;
  padding: 0;
  box-sizing: border-box;
  color: red;
  margin: 0 0 25PX 0;
  font-size: 16px;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}