body{
  margin: 0;
  padding: 0;
  font-family:cursive;
  background-color: rgb(255,255,255);
  height:100vh;
  overflow:inherit;
  background: linear-gradient(rgba(225,225,225,0.5),rgba(227,168,155,0.7));
  background-color: #004882; 
}

.row{
  width: 60%;
  position: absolute;
  left: 20%;
  top: 30%;
}


.column {
  float: left;
  width: 31%;
  padding: 50px;
  border: 1px solid silver;
  border-radius: 5px;
  margin: 1%;
  text-align: center;
  font-size: 25px;
  cursor: pointer;  
  background: rgba(0,0,0,0.2)
}

.column img{
  max-width: 90%;
}

.rating{
  max-width: 95%;
}
.checked {
  color: orange;
}
form .textfield{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.textfield input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
label{
  
  top: 50%;
  left: 5px;
  color: #050000;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .4s;
}
form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 5px 0 0 5px;
  float: left;
  width: 93%;
  font-family:cursive;
  background: #f1f1f1;
}

form button[type=submit]{
  float: right;
  width: 7%;
  padding: 12px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 0 5px 5px 0;
  border-left: none;
  cursor: pointer;
}
form button[type=submit1] {
  float: left;
  width: 40%;
  padding: 11px;
  background: #f32144;
  color: white;
  font-size: 18px;
  border: 1px solid grey;
  border-radius: 0x 0px 0px 0x;
  border-left: none;
  cursor: pointer;
}
  form {  
  margin-left: auto;
  margin-right: auto;
  display: block;  
  width: 50%;  
  padding-top: 5%;
  position: relative;
  border-bottom: 0px ;
}

}
.error{
  display: block;
  text-align:left;
  font-weight: bold;
  padding: 0;
  box-sizing: border-box;
  color: rgb(150, 15, 15);
  margin: 0 0 25PX 0;
  font-size: 16px;
}

