*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

} 
 
html,body{
	min-height: 100vh;
	max-height: auto;
	overflow:inherit;
	background: linear-gradient(rgba(18, 18, 159, 0.5),rgba(5, 36, 189, 0.6));
    
  }
 
.body{
	display: grid;		
	
}

.nav{
	margin-bottom: 70px;
}

.main-container{
	font-size: 10px;
	font-family: sans-serif;	
	grid-area: main-container;
	overflow-y: scroll;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	box-shadow: 3px 5px 20px 3px rgba(10, 10, 10, 0.4);
	margin: 10px auto;
	width: 80%;
	padding: 20px 20px;
	margin-bottom: 50px;
}

.grid{
	display: grid;
	grid: 
		'pro-pic details buton' 200px
		/200px auto 12%;
	grid-gap: 10px;
	

}

.pro-pic{
	display: grid;
	grid-area: pro-pic;
	align-content: center;
	text-align: left;
	
	
}

.details{
	
	display: grid;
	grid-area: details;
	grid-gap: 10px;
	text-align: left;
	padding: 10px;
	padding-left: 50px;		
	overflow-y: scroll;
	border-radius: 20px;
	border: 1px solid rgba(46,36,48, 0.2);

}
.name{
	
	
}

.mid-cont{
	display: grid;
	grid: 
		'service gear' auto
		/40% 60%;
	grid-gap: 0px;
}
.service{
	display: grid;
	grid-area: service;	
}	

.gear{
	display: grid;
	grid-area: gear;	
	
}

.rest{
	
	

}
.buton{
	
	display: grid;
	grid-area: buton;
	align-content: center;
	text-align: center;
	
}

::-webkit-scrollbar{
	display: none;
}

.pro-pic img{
	grid-row: span 2; 
	height: 200px;
	border-radius: 20px;
	border: 1px solid rgba(46,36,48, 0.2);
}

h1{
	font-family:cursive;
	font-size: 30px;
}

h2{
	font-family:cursive;
	font-size: 20px;
}

p{
	padding-top: 15px;
	padding-bottom: 18px;
	font-size: 15px;
	line-height: 17px;
	padding-left: 10px;
}


.view{
  background-color: rgb(0, 153, 255);
  color: white;
  padding: 10px 15px;
  border: none;
  border: 3px solid rgba(255, 255, 255, 0.6);
  font-size: 18px;
  border-radius: 10px;
  min-width: 100px;
  max-width: 150px;
  text-align: center;
  margin: 5px 0px;
  margin-right: auto;
  margin-left: auto;

}

.view:hover {
  background-color: rgba(0, 102, 255, 0.5);
  font-size: 17px;
  
}

a:hover {
  background-color: rgb(0, 102, 255);
  
}