*{ 
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
 body{
	overflow:inherit;
	background: linear-gradient(rgba(18, 18, 159, 0.5),rgba(5, 36, 189, 0.6));
  	height: 100vh;
}

.body{
	display: inline-flex;			
}

.nav{
	margin-bottom: 70px;
	list-style: none;
}

.main-container{
	font-family: Arial, Helvetica, sans-serif;	
	display: grid;
	grid-area: main-container;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	box-shadow: 3px 5px 20px 3px rgba(10, 10, 10, 0.4);
	margin: 10px 15%;
	padding: 20px 20px;
	margin-bottom: 50px;
	min-width: 700px;
	margin-top: 30px;
	margin-bottom: 5%;
}

.grid{
	display: grid;
	grid: 
		'pro-pic details' 200px
		/200px auto ;
	grid-gap: 10px;

}

.pro-pic{
	display: grid;
	grid-area: pro-pic;
	align-content: center;
	text-align: left;	
}

.details{
	
	display: grid;
	grid-area: details;
	grid-gap: 10px;
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;		
	padding-bottom: 50px;
	border-radius: 20px;
	border: 1px solid rgba(46,36,48, 0.2);
	overflow: initial;
	
}

.buton{
	
	display: grid;
	grid-area: buton;
	align-content: center;
	text-align: center;	
}


.mid-cont{
	display: grid;
	grid: 
		'service gear' auto
		/50% 50%;
	padding: 0px 30px;
	grid-gap: 5px;
	
}
.service{
	display: grid;
	grid-area: service;	
	
}	

.gear{
	display: grid;
	grid-area: gear;
	
}

.rest{
	padding: 0px 30px;	

}


::-webkit-scrollbar{
	display: none;
}

.pro-pic img{
	grid-row: span 2; 
	height: 200px;
	border-radius: 20px;
	border: 1px solid rgba(46,36,48, 0.2);
}

h1{
	font-family:cursive;
	font-size: 40px;
}

h2{
	font-family:cursive;
	font-size: 20px;
	padding-bottom: 20px;
	padding-top: 30px;
}

h3{
	font-size: 15px;
	padding-left: 40px;
	padding-bottom: 30px;
}

ul{
	
	font-size: 15px;
	line-height: 18px;	
}

li{
	/* padding-left: 40px; */
}

.service ul li::before {
  content: "\204E";
  color: black;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.gear ul li::before {
  content: "\204E";
  color: black;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}


.view{
  background-color: rgb(0, 153, 255);
  color: white;
  padding: 10px 15px;
  border: none;
  border: 3px solid rgba(255, 255, 255, 0.6);
  font-size: 18px;
  border-radius: 10px;
  min-width: 100px;
  max-width: 150px;
  text-align: center;
  margin: 5px 0px;
  margin-right: auto;
  margin-left: auto;

}

.view:hover {
  background-color: rgba(0, 102, 255, 0.5);
  font-size: 17px;
  
}



/*****************************/
 .open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	z-index: 9;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 10px 10px 0px 0px;
	margin-bottom: 30px;
	
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background: rgb(95, 158, 160);
  border-radius: 10px 10px 0px 0px;
  	
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;

}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: rgb(0, 153, 255);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  border: 3px solid rgba(255, 255, 255, 0.6);
  font-size: 18px;
  border-radius: 10px;
 
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: rgb(232,62,62);
    border: 3px solid rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	font-size: 18px;
	  
}

/* Add some hover effects to buttons */
.form-container .btn:hover{
	background-color: rgba(0, 102, 255, 0.5);
  font-size: 16px;

} 
.form-container .cancel:hover {
  	font-size: 16px;
  	background-color: rgba(217,5,5, 0.5);
    
}