body{
  background: linear-gradient(rgba(77, 8, 215, 0.5),rgba(5, 36, 189, 0.6));
  background-position: inherit;
  background-repeat: inherit;
  background-attachment: fixed;
}

.nav{
  margin: 0px;
  padding: 0px;
}

.row{
  font-family: sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 60%;
  position: absolute;
  top: 60%;
  left: 50%;
  padding: 50px;
  margin-bottom: 100px;
  margin-top: 300px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.4);
}


h1{
  font-size: 30px;
  font-family: sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
}

h2{
  margin-left: 10%;
  margin-right: 15%;
  padding-bottom: 15px;
	margin-bottom: 25px;
	text-align: left;
  font-size: 20px;
}

.open-button {
  background-color: #575656;
  color: white;
  padding: 8px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  float: right;
}

.open-button2 {
  background-color: #575656;
  color: white;
  padding: 8px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  margin: 10px auto 10px auto;
  display: block; 
}

.form-popup {
  display: none;
  bottom: 0;
  z-index: 9;
  margin-top: 20px;
}


.form-container {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  
}

select{
  display: block;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus, .form-container input[type=password]:focus, {
  background-color: #ddd;
  outline: none;
}


.form-container .btn {
  background-color: #49495f;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


.form-container .cancel {
  background-color: red;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#map{
  height: 400px;
  width: 100%;
  border: 5px solid #575656;
}

.error{
  display: block;
  text-align:center;
  font-weight: bold;
  padding: 0;
  font-size: 12px;
  box-sizing: border-box;
  color: red;
  margin: 0 0 25PX 0;
}
.upper-container{
  height: 300px; 
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .image-container{
  background: white;
  border-radius: 50%;
  padding: 0px;
  transform: translate(100px,100px);
  height: 200px;
  width: 200px;
  position: relative;
  border: 2px solid #FFF;
  border-radius: 50%;  
  background-size: 100% 100%;
  margin: 0px auto;
  overflow: hidden;
  }
.profile-button{
  background-color: #9d8f8f;
  color: rgb(245, 231, 231);
  padding: 6px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  float: right;
  display: block;
  position: relative;
  top: 45px;
  right:30%;
}
.profile_upload label{  
  position: relative;
  bottom: 0px;
  top: 40px;
  left: 55%;
  width: 45px;
  outline: none;  
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s;
}

.profile_upload label:hover{
  opacity: 1;
  }

.profile_upload label img{  
  height: 35px;
  width: 45px;
  background-color: #9d8f8f;
  border-radius: 30%;
}
.cover_upload label{  
  position: relative;
  outline: none;  
  cursor: pointer;
  opacity: 0.9;
  transition: 0.5s;
  float:left;
  left: 10%;
  top: 26px;

 
}
.cover_upload label:hover{
  opacity: 1;
  }

.cover_upload label img{   
  height: 35px;
  width: 45px; 
  background-color: #9d8f8f;
  border-radius: 30%;
}
.cover-button{
  background-color: #9d8f8f;
  color: rgb(245, 231, 231);
  padding: 6px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  float: left;
  display: block;
  right: 25%;
  position: absolute;
  top: 318px;
  left: 25%;
  
}

.modal {
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

textarea {
  position: relative;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  width:100%;
  height: 300px%;
}


