*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
  /* height: 120%; */
  overflow: auto;
  background: linear-gradient(to bottom, rgba(225,225,225, 0.5) 0%, rgba(129, 0, 250, 0.6) 100%);
}

.body{
	display: grid;		
	align-items: center;
	padding: 45px 0 20px 20%;
}


.main-container{
	font-family: sans-serif;
	display: grid;
	grid: 
		'sub-cont' 
		/100%;
	width: 60%;
	max-width: 70%;
	max-height: 700px;
	width: 80%;
	height: 560px;
	grid-gap: 10%;
}

.sub-cont{
	grid-area: sub-cont;
	overflow-y: scroll;
	background-color: white;
	border-radius: 5px;
	box-shadow: 3px 8px 20px 3px rgba(10, 10, 10, 0.4);
	padding: 20px 30px;
}	

::-webkit-scrollbar{
	display: none;
}

h2{
	text-align: center;
	font-size: 30px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
}

/* h2{
	font-size: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
} */

h3{
	font-size: 15px;
	font-family: sans-serif	
}

.grid{
	display: grid;
	grid: 
		'box1 box2 box3' 40px
		/30% 30% 20%;
	grid-gap: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

.box1{
	display: grid;
	grid-area: box1;
	align-content: center;
	text-align: left;
	
}

.box2{
	
	display: grid;
	grid-area: box2;
	align-content: center;
	text-align: left;
	
}

.box3{
	display: grid;
	grid-area: box3;
	align-content: center;
	text-align: center;
}

.edit{
  background-color: rgb(124, 120, 120);
  color: white;
  padding: 8px 10px;
  border: none;
  /* min-width: 50px; */
  max-width: 80px;
}

.edit:hover  {
	background-color: rgb(0, 102, 255);
  }

.row{
	padding-top: 30px;
	padding-left: 30%;
}

input[type=submit]{
  background-color: rgb(124, 120, 120);
  color: white;
  padding: 11px 25px;
  border: none;
  min-width: 50px;
  max-width: 80px;
  text-align: center;
  font-size: 16px;
  display: inline;
}

input[type=submit]:hover{
  background-color: rgb(28, 185, 75);	
}

.cancel{
  background-color: rgb(124,120,120);
  color: white;
  padding: 10px 20px;
  border: none;
  width: 90px;
  text-align: center;
}

.cancel:hover{
  background-color: rgb(218, 32, 32);	
}

.item{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

