*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body{
	height: 100%;
  overflow: hidden;

}

html{
	background: linear-gradient(to bottom, rgba(225,225,225, 0.5) 0%, rgba(129, 0, 250, 0.6) 100%);
}

.body{
	font-family: sans-serif;
	display: grid;		
	align-items: center;
	padding-left: 22%;
}

.nav{
	margin-bottom: 50px;
}

.main-container{
	display: grid;
	grid: 
		'sub-cont' 
		/100%;
	width: 60%;
	max-width: 70%;
	max-height: 700px;
	width: 80%;
	height: 600px;
	grid-gap: 10%;
}

.sub-cont{
	grid-area: sub-cont;
	overflow-y: scroll;
	background: white;
	border-radius: 5px;
	box-shadow: 3px 8px 20px 3px rgba(10, 10, 10, 0.4);
	
	padding: 30px 30px;
}	

::-webkit-scrollbar{
	display: none;
}

.grid{
	display: grid;
	grid: 
		'box1 box2' 40px
		/30% 60% ;
	grid-gap: 10%;
	padding-left: 10%;
	padding-right: 10%;

}

.box1{
	display: grid;
	grid-area: box1;
	align-content: center;
	text-align: left;
	
}

.box2{
	
	display: grid;
	grid-area: box2;
	align-content: center;
	text-align: left;
}

h1{
	text-align: center;
	font-size: 20px;
}

h3{
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

h2{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.back{
  background-color: rgb(0, 153, 255);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  min-width: 50px;
  max-width: 80px;
  text-align: center;
  margin-left: 45%;
  margin-top: 20px;
}

a:hover {
  background-color: rgb(0, 102, 255);
  
}